{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Porfolio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
        footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: ;
            color: black;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'img/logo.png' %}" alt="logo" id="logo" href="index.html">
            <ul>
                <li><a href="{% url 'proyectos' %}">Proyectos</a></li>
                <li><a href="{% url 'blog' %}">Blogs</a></li>
                <li><a href="{% url 'sobre_mi' %}">Sobre Mi</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="contenedor-hero">
            <h1>Bienvenido a mi Porfolio</h1>
            <p>Soy un desarrollador especializado en Python, con conocimientos en el desarrollo web, aplicaciones web, diseños de usuarios, entre otros.
                Mi objetivo es brindar soluciones a mis clientes de la mejor manera posible. ¡Gracias por visitar mi Porfolio!
            </p>
        </div>
    </section>
    <footer>
        <p>© 2024 Porfolio - Todos los derechos reservados</p>
    </footer>
</body>
</html>

